header, nav, main, footer { display: block; }
body { background-color: #000000;
       font-family: Times New Roman, Arial, sans-serif;
	   background-image: url(../images/maze.jpg); /* inserting a background image */
	   background-repeat: no-repeat;
	   background-size: cover;
	   background-attachment: fixed; /* might as well put these here too */
}
#wrapper { width: 960px;
           margin: auto;
		   background-color: #fefaeb;
		   color: #000000;
}
h1 {
	 height: 110px;
	 font-family: Cooper, Times New Roman, serif;
	 font-size: 4.5em;
     padding-left: 220px;
	 padding-top: 20px;
	 margin-bottom: 0;
}
nav { padding-top: 10px;
      float: left;
      width: 200px; 
}
nav ul { list-style-type: none; 
       padding-left: 20px;
	 }
nav li { padding-bottom: 5px;
       font-weight: bold;
}
nav a { text-decoration: none; }
nav a:link { color: #000000; }
nav a:visited{ color: #000000; }
nav a:hover { color: #000000; }


main {
          margin-left: 200px;
          padding: 1px 20px 20px 20px;   
		  min-height: 300px;
}
main img { float: left;
              padding: 20px;
}

footer {
       margin-left: 200px;
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
}
	  