body {
	background-color: #FFFFFF;
	color: #000000;
}
nav {
	font-family: "Cooper", "Times New Roman", "serif";
	font-size: 1em;
	text-align:left;
}
header {
	color: #000000;
	font-family: "Cooper", "Times New Roman", "serif";
	font-size: 4.5em;
	padding: 0;
}
h2 {
	font-size: 2em;
	padding: 0;
	margin: 0;
}
img {
	width: 100%;
	height: auto;
}
nav a { text-decoration: none; }
nav a:link { color: #000000; }
nav a:visited{ color: #000000; }
nav a:hover {
	color: #000000;
	text-decoration: underline;
}
p a { text-decoration: none; }
p a:link { color: #000000; }
p a:visited{ color: #000000; }
p a:hover {
	color: #000000;
	text-decoration: underline;
}
li a { text-decoration: none; }
li a:link { color: #000000; }
li a:visited{ color: #000000; }
li a:hover {
	color: #000000;
	text-decoration: underline;
}

@media (min-width: 880px) {
	.container {
	display: grid;
	grid-template-columns: 12em 1fr 4em;
	grid-template-rows: 8em 1fr 3em;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	}
	body { background-color: #000000; }
	header {
		color: #FFFFFF;
		font-family: "Cooper", "Times New Roman", "serif";
		font-size: 4.5em;
		text-align: center;
	}
	.header {
		grid-area: 1 / 1 / 2 / 4;
		background-color: #000000;
		color: #FFFFFF;
		font-family: "Cooper", "Times New Roman", "serif";
		font-size: 1em;
		text-align: center;
		padding: 20px;
		background-image: url(../images/houselogo.jpg);
		background-repeat: no-repeat;
	}
	.nav {
		grid-area: 2 / 1 / 3 / 2;
		background-color: #FFFFFF;
		color: #000000;
		padding: 20px;
	}
	.paragraph {
		grid-area: 2 / 2 / 3 / 3;
		background-color: #FFFFFF;
		color: #000000;
		font-family: "Times New Roman", "Arial", "sans-serif";
		font-size: 1em;
		text-align:left;
		padding: 20px;
	}
	.aside {
		grid-area: 2 / 3 / 3 / 4;
		background-color: #FFFFFF;
		color: #000000;
		font-family: "Times New Roman", "Arial", "sans-serif";
		font-size: 1em;
		text-align:left;
		padding: 20px;
		background-image: url(../images/beach.jpg);
		background-attachment: fixed;
		background-position: right;
		background-repeat: no-repeat;
	}
	.footer {
		grid-area: 3 / 1 / 4 / 4;
		background-color: #000000;
		color: #FFFFFF;
		font-family: "Times New Roman", "Arial", "sans-serif";
		font-size: .8em;
		text-align: center;
		font-style: italic;
		padding: 20px;
	}
}